<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Test node js</title>
</head>

<body>
  {{!-- Partial Header --}}
  {{> header}}


  {{!-- Main content --}}
  {{{ body }}}
</body>

</html>